<template>
  <div class="result-item">
    <v-sheet class="d-flex flex-column align-stretch pa-6 mb-6" min-height="200" color="grey darken-4" rounded elevation="10" width="100%">
      <div  class="d-flex flex-row flex-grow-1">
        <div class="item-description">
          <div class="description-title"><img :src="train_icon" width='30' alt="">{{item.train_code}}<div class="name">{{item.trip_start_point + " - " + item.trip_end_point}}</div></div>
          <div class="description-trip">
            <div class="trip-time">
              <div class="time">
                {{start_time}}
              </div>
              <div class="line">
                <div class="spent-time">~ {{item.format_spent_time}}</div>
              </div>
              <div class="time">
                {{end_time}}
              </div>
            </div>
            <div class="trip-points">
              <div class="point">{{start_date}}</div>
              <div class="point">{{end_date}}</div>
            </div>
            <div class="trip-points">
              <div class="point">{{item.trip_start_point}}</div>
              <div class="point">{{item.trip_end_point}}</div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column result-item-types-column ml-6 justify-center">
          <div v-if="item.available_types.includes(0)" class="type-row align-center">
            <div>Плацкарт</div>
            <v-btn width="80" small color="amber accent-4" light style="font-weight: bold">{{costs.platscart}} ₽</v-btn>
          </div>
          <div v-if="item.available_types.includes(1)" class="type-row align-center">
            <div>Купе</div>
            <v-btn width="80" small color="amber accent-4" light style="font-weight: bold">{{costs.coupe}} ₽</v-btn>
          </div>
          <div v-if="item.available_types.includes(2)" class="type-row align-center">
            <div>СВ</div>
            <v-btn width="80" small color="amber accent-4" light style="font-weight: bold">{{costs.sv}} ₽</v-btn>
          </div>
        </div>
      </div>
    </v-sheet>
  </div>
</template>

<script>
import train_icon from '@/assets/train_item.png';
import moment from 'moment';
import "moment/locale/ru";
export default {
name: "ResultItem",
  props: {
    name: String,
    title: String,
    train: Object,
    costs: Object,
    item: Object,
    start: String,
    end: String,
  },
  computed: {
    start_time() {
      return moment(this.item.first_point_time).format("HH:mm");
    },
    start_date() {
      return moment(this.item.first_point_time).format("DD MMM, ddd");
    },
    end_date() {
      return moment(this.item.last_point_time).format("DD MMM, ddd");
    },
    end_time() {
      return moment(this.item.last_point_time).format("HH:mm");
    },
  },
  data: () => ({
    train_icon
  })
}
</script>

<style scoped>
.result-item {
  align-self: stretch;
}
.result-item-types-column {
  width: 200px;
  flex-shrink: 0;
  flex-grow: 0;
}
.type-row {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-between;
}
.type-row:last-child {
  margin-bottom: 0;
}
.type-row div {
  color: #9a9a9a;
}
.item-description {
  flex-grow: 1;
  max-width: calc(100% - 224px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item-description .description-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.item-description .description-title img {
  margin-right: 4px;
}
.item-description .description-title .name {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #9a9a9a;
  margin-left: 4px;
}
.item-description .description-trip {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.description-trip .trip-time {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}
.trip-time .time {
  font-size: 30px;
  font-weight: bold;
}
.line {
  height: 1px;
  flex-grow: 1;
  border-bottom: 1px dashed white;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.line .spent-time {
  position: absolute;
  top: -30px;
  font-size: 18px;
  color: #cccccc;
  font-weight: bold;
}
.trip-points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #9a9a9a;
}
</style>