<template xmlns="http://www.w3.org/1999/html">
  <v-app>
    <v-app-bar app color="grey darken-4">
      <div class="max-width mx-auto" style="width: 100%">
        <h1>RRW</h1>
      </div>
    </v-app-bar>
    <v-main class="ma-6">
      <div class="page-content max-width mx-auto">
        <div class="sticky-poisk mr-6">
          <v-sheet width="100%" elevation="10" shaped class="pa-6 mb-6" color="grey darken-4">
            <div class="d-flex flex-column align-center mb-4">
              <h2>Поиск</h2>
<!--              <subtitle-1>Заполните поля</subtitle-1>-->
            </div>
            <div class="d-flex flex-row align-center justify-space-between">
              <div style="width: calc(50% - 5px)">
                <v-autocomplete
                    v-model="from_value"
                    :items="items"
                    item-text="title"
                    item-value="title"
                    dense
                    outlined
                    filled
                    color="amber accent-4"
                    item-color="amber accent-4"
                    label="Откуда"
                ></v-autocomplete>
              </div>
              <div style="width: calc(50% - 5px)">
                <v-autocomplete
                    v-model="to_value"
                    :items="items"
                    item-text="title"
                    item-value="title"
                    outlined
                    dense
                    color="amber accent-4"
                    item-color="amber accent-4"
                    filled
                    label="Куда"
                ></v-autocomplete>
              </div>
            </div>
            <div class="d-flex flex-row align-start justify-space-between">
              <div style="width: calc(50% - 5px)">
                <v-dialog
                    ref="dialog"
                    v-model="modal"
                    :return-value.sync="picker"
                    persistent
                    width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        class="date-field-z"
                        v-model="chosen_data"
                        label="Когда"
                        filled
                        dense
                        value=""
                        color="amber accent-4"
                        outlined
                        append-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="picker" scrollable header-color="grey darken-4" color="amber accent-4">
                    <v-spacer></v-spacer>
                    <v-btn text color="amber accent-4" @click="modal = false">
                      Отмена
                    </v-btn>
                    <v-btn text color="amber accent-4" @click="$refs.dialog.save(picker)">
                      Ок
                    </v-btn>
                  </v-date-picker>
                </v-dialog>
              </div>
              <div style="width: calc(50% - 5px)">
                <v-btn block class="find-submit-button" @click="get_trains" light :disabled="false" color="amber accent-4">Найти</v-btn>
              </div>
            </div>
<!--            {{chosen_data}}-->
          </v-sheet>
          <v-sheet width="100%" elevation="10" shaped class="pa-6" color="grey darken-4">
            <div class="d-flex flex-column align-center mb-4">
              <h2>Фильтры</h2>
<!--              <subtitle-1>Заполните поля</subtitle-1>-->
            </div>
            <div class="filter-group">
              <h3 class="mb-1">Тип билета</h3>
              <v-chip-group
                  active-class="primary--text"
                  column
                  v-model="place_types_chosen"
              >
                <v-chip
                    v-for="e in place_types"
                    :key="e.key"
                    active-class="choosed-type"
                >
                  {{ e.name }}
                </v-chip>
              </v-chip-group>
            </div>
            <v-divider class="my-4"></v-divider>
            <div class="filter-group">
              <h3 class="mb-3">Сортировать по</h3>
              <div class="d-flex flex-row">
                <div class="flex-grow-1">
                  <v-select
                      :items="sort_by"
                      filled
                      value="0"
                      item-text="value"
                      item-value="key"
                      v-model="sort_by_value"
                      dense
                      outlined
                      color="amber accent-4"
                      item-color="amber accent-4"
                  ></v-select>
                </div>
                <div class="flex-grow-0 ml-4 up-down flex-shrink-0">
                  <v-btn-toggle v-model="sort_order" mandatory dense active-class="choosed-type">
                    <v-btn>
                      <v-icon>mdi-sort-reverse-variant</v-icon>
                    </v-btn>
                    <v-btn>
                      <v-icon>mdi-sort-variant</v-icon>
                    </v-btn>
                  </v-btn-toggle>
                </div>
              </div>
            </div>
          </v-sheet>
        </div>
        <div class="column-results">
          <v-sheet
              v-if="filtered_results === null"
              class="empty-results-wrapper"
              color="grey darken-4"
              elevation="10"
              rounded
          >
            <img :src="icon_train" height="120" alt=""/>
            Найдите билеты<br/>
            <span>Сформируйте запрос с помощью карточек слева</span>
          </v-sheet>
          <v-sheet
              v-else-if="filtered_results.length === 0"
              class="empty-results-wrapper"
              color="grey darken-4"
              elevation="10"
              rounded
          >
            <img :src="icon" width="120" height="120" alt=""/>
            Билетов нет<br/>
            <span>Сформируйте новый запрос с помощью карточек слева</span>
          </v-sheet>
          <result-item
            v-else
            v-for="e in filtered_results"
            :name="e.name"
            :item="e"
            :start="from_value"
            :end="to_value"
            :train="e.train"
            :title="e.title"
            :costs="{
              platscart: e.sum_cost_platscart,
              sv: e.sum_cost_sv,
              coupe: e.sum_cost_coupe,
            }"
          />
        </div>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import logo from '@/assets/logo.svg';
import ResultItem from "@/components/ResultItem";
import moment from 'moment';
import "moment/locale/ru";
import axios from "axios";
import {apiUrl} from "@/ext";
import icon from '@/assets/nothing-found.png';
import icon_train from '@/assets/train.png';

export default {
  name: 'App',

  components: {
    ResultItem
  },
  methods: {
    get_trains() {
      axios.post(apiUrl + 'filter_trains', {
        start_point: this.from_value,
        end_point: this.to_value,
        departure_time: this.picker,
      }).then(({data: {result}}) => {
        this.results = result.map(item => {
          let train = {...item.train};
          let available_types = [];
          if (train.has_platscart) {
            available_types.push(0);
          }
          if (train.has_coupe) {
            available_types.push(1);
          }
          if (train.has_sv) {
            available_types.push(2);
          }
          let spent_time = Date.parse(item.last_point_time) - Date.parse(item.first_point_time);
          console.log(spent_time);
          let format_spent_time = spent_time / 1000;
          if (format_spent_time > 60) {
            format_spent_time = format_spent_time / 60;
            if (format_spent_time > 60) {
              format_spent_time = format_spent_time / 60;
              format_spent_time = Math.round(format_spent_time);
              format_spent_time = format_spent_time + ' ч.';
            } else {
              format_spent_time = Math.round(format_spent_time);
              format_spent_time = format_spent_time + ' м.';
            }
          } else {
            format_spent_time = Math.round(format_spent_time);
            format_spent_time = format_spent_time + ' с.';
          }
          return {
            ...item,
            train_code: item.train.code,
            available_types,
            spent_time,
            format_spent_time,
          };
        });
        console.log(this.results);
      })
    },
  },
  mounted() {
    axios.get(apiUrl + 'get_stations').then(res => {
      console.log(res);
      this.items = res.data.result;
    })
  },
  computed: {
    chosen_data() {
      let ts = moment(this.picker);
      return ts.format("D MMMM");
    },
    filtered_results() {
      if (this.results === null) return null;
      let filtered = [...this.results];
      if (this.place_types_chosen !== null && this.place_types_chosen !== undefined) {
        filtered = filtered.filter(item => item.available_types.includes(this.place_types_chosen));
      }
      console.log(this.place_types_chosen);
      if (this.sort_by_value === 0) {

        filtered = filtered.sort((a, b) => {
          return a.sum_cost_platscart > b.sum_cost_platscart ? 1 : a.sum_cost_platscart < b.sum_cost_platscart ? -1 : 0;
        });
        if (this.sort_order === 1) {
          filtered = filtered.reverse();
        }
      }
      if (this.sort_by_value === 1) {
        filtered = filtered.sort((a, b) => {
          return a.spent_time > b.spent_time ? 1 : a.spent_time < b.spent_time ? -1 : 0;
        });
        if (this.sort_order === 1) {
          filtered = filtered.reverse();
        }
      }
      return filtered;
    }
  },
  data: () => ({
    logo,
    drawer: true,
    items: [],
    icon,
    from_value: null,
    icon_train,
    to_value: null,
    modal: false,
    value: null,
    place_types_chosen: null,
    sort_by: [
        {key: 0, value: 'Стоимости',},
        {key: 1, value: 'Времени в пути',},
    ],
    sort_by_value: 0,
    sort_order: 0,
    place_types: [
      {key: 0, name: 'Плацкарт',},
      {key: 1, name: 'Купе',},
      {key: 2, name: 'СВ',},
    ],
    picker: new Date().toISOString().substr(0, 10),
    results: null,
  }),
};
</script>

<style>
  :root {
    --kq-max-width: 1100px;
  }
  .max-width {
    max-width: var(--kq-max-width);
  }
  .page-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  .sticky-poisk {
    position: sticky;
    flex-grow: 0;
    flex-shrink: 0;
    width: 400px;
    top: 88px;
  }

  .column-results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: calc(100% - 424px);
  }
  .zhizhoba .v-input__control .v-input__slot .v-text-field__slot input{
    margin: 0;
  }
  h2 {
    margin-bottom: 0;
  }
  subtitle-1 {
    color: #cccccc;
  }
  .find-submit-button {
    height: 40px !important;
  }
  ::selection {
    background-color: rgba(0,0,0,0.5);
  }
  .filter-group {
  }
  .filter-group:last-child {
    margin-bottom: 0;
  }
  .choosed-type {
    color: #ffac00 !important;
  }
  .up-down .v-item-group button {
    height: 40px !important;
  }
  .empty-results-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #9a9a9a !important;
    font-weight: bold;
    font-size: 30px;
    min-height: 350px;
  }
  .empty-results-wrapper span {
    font-size: 12px;
    margin-top: 3px;
    font-weight: normal;
  }
  .empty-results-wrapper img {
    filter: grayscale(100%);
    opacity: 0.5;
  }
</style>